<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<% function renderBook(book) { %>
    <div class="container">
        <div class="imageGallery">
            <img src="<%= book.coverImage %>"
                alt="">
        </div>
        <div class="productInfo">
            <h1 id="title-h1">
                <%= book.title %>
            </h1>
            <h3 id="productPageRightSectionTop-authors-h3">
                de <p>
                    <%= book.author %>
                </p>&nbsp;
            </h3>

            <div class="aditional-info">
                <span class="title">editor: </span>
                <span class="text">
                    <%= book.publisher %>
                        Manuscrito Editora, junho de 2022
                </span>
                <span>&nbsp;‧&nbsp;</span>


                <span class="title">ISBN:</span>
                <span class="text">
                    <%= book.isbn %>
                </span>
                <span>&nbsp;‧&nbsp;</span>

                <span class="product-details title">ver detalhes do produto</span>

                <div class="rating">
                    <span class="title">Estrelas:</span>
                    <div class="stars">
                        <input type="checkbox" class="star"></input>
                        <input type="checkbox" class="star"></input>
                        <input type="checkbox" class="star"></input>
                        <input type="checkbox" class="star"></input>
                        <input type="checkbox" class="star"></input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>

        <body>
            <style>
                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }

                body {
                    width: 100vw;
                    height: 100vh;
                    display: flex;
                }

                .container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 25px;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    background-color: wheat;
                }

                .productInfo {
                    margin-left: 50px;
                    height: 465px;
                }

                .imageGallery {
                    width: 310px;
                    height: 465px;
                    background-color: aquamarine;
                }

                .imageGallery img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                h1 {
                    font-family: BryantProMedium;
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 1;
                    color: #262626;
                }

                h3 {
                    display: flex;
                    margin-bottom: 15px;
                }

                h3 p {
                    margin-left: 10px;
                }

                .title {
                    font-weight: 300;
                    text-transform: lowercase;
                }

                .text {
                    font-weight: 500;
                }

                .rating {
                    display: flex;
                    align-items: center;
                    margin-top: 25px;
                }

                .stars {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-left: 10px;
                }

                .star+.star {
                    margin-left: 5px;
                }
            </style>
            <%= books.forEach(book=> renderBook(book))%>
        </body>

</html>