<!DOCTYPE html>
<html lang="en">
    
<meta charset="UTF-8" />
<title>Books</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  body { padding-top:50px; }
</style>

<% function renderBook(book) { %>
    <li>
        <strong><%= book.title %></strong>
        <ul>
            <li>
                <p>ID: <%= book.id %> </p>
                <p>Author: <%= book.author %> </p>
                <p>Bar Code: <%= book.bar_code %> </p>
                <p>Price: <%= book.price %> </p>
                <p>State: <%= book.state %> </p>
                <img src="<%= book.coverImage %>" alt="Image Cover" />
            </li>
        </ul>
    </li>
<% } %> 

<ul>
    <%= books.forEach(book => renderBook(book))%>
</ul>
</html>